<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>staf</string>
        <key>Program</key>
        <string>/usr/local/staf/bin/STAFProc</string>
        <key>StandardOutPath</key>
        <string>/usr/local/staf/stafproc.out</string>
        <key>OnDemand</key>
        <false/>
        <key>UserName</key>
        <string>root</string>
        <key>WorkingDirectory</key>
        <string>/usr/local/staf</string>
        <key>EnvironmentVariables</key>
        <dict>
           <key>PATH</key>
           <string>/usr/local/staf/bin:/usr/local/bin:/bin:/sbin:/usr/bin:/usr/sbin</string>
           <key>CLASSPATH</key>
           <string>/usr/local/staf/lib/JSTAF.jar:/usr/local/staf/samples/demo/STAFDemo.jar</string>
           <key>STAFCONVDIR</key>
           <string>/usr/local/staf/codepage</string>
           <key>LD_LIBRARY_PATH</key>
           <string>/usr/local/lib:/usr/lib:/usr/local/staf/lib</string>
        </dict>
</dict>
</plist>
